<h1><%= t('system.admin') %></h1>
<%= link_to 'logout', logout_path, :method => :delete %>
<div>
  <%= link_to 'Orders', orders_path %>
  <%= link_to 'Products', products_path %>
  <%= link_to 'Users', users_path %>
</div>
