<!DOCTYPE html>
<html>
<head>
  <title>my store</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='div_main'>
  <%= yield %>
</div>

<div id='div_side'>
  <div id='cart'>
    <%= render @cart %>
  </div>
</div>

</body>
</html>
